<div class="bg-light mb-3 card-title">
	<%= link_to 'Projects' , project_index_path %> |
	<%= link_to 'Lists'    , lists_path %> |
	<%= link_to 'Users'    , user_index_path %> |
	<%= link_to 'Teams'    , team_index_path %> |
	<%= link_to 'Sections' , section_index_path %>
</div>