<p id="notice"><%= notice %></p>


 <div>
  <div>
    <p>
      <strong>Title:</strong>
      <%= @project.title %>
      -
      <strong>State:</strong>
      <%= @project.state %>
    </p>

  </div>

  <% @lists.each do |list| %>
    <div class="card bg-light mb-3" style="float: left; width: 24%; margin: 5px; height: 40vw">
      <div class="card-header"> 
        <div style="float: left; width: 100px">
          <%= list.title %>
        </div>
        <div style="float: right; width: 50px">
          <%= link_to "+", new_project_list_task_path(project_id: @project.id,list_id: list.id)%>
        </div> 
      </div>
      
      <div class="card-body">
<!--    <h5 class="card-title">Light card title</h5>
-->        
        <% list.tasks.each do |task| %>
          <p class="card-text">
            <%= link_to(task.title, project_list_task_path(project_id: @project.id,list_id: list.id, id: task.id))%>
          </p>  
        <% end %>
      </div>
    </div>
  <% end %>

</div>